:root {
    --brother-tree-border-color: #e2e4e9;
    /* TODO: Define background color or leave up to website? */
    /* --brother-tree-background-color: #f8f8f8; */
    /* TODO: Fonts, shadowDOM, nodes can't inherit anyways bc they have fonts defined */
}

.brother-tree-container {
    position: relative;
    /* background-color: var(--brother-tree-background-color); */
    border-radius: 5px;
    border: 1px solid var(--brother-tree-border-color);
}

.brother-tree-container .brother-tree-actions {
    position: absolute;
    width: calc(100% - 20px);
    padding: 10px;
    z-index: 10;
    display: flex;
    gap: 10px;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.brother-tree-container .brother-tree-chart-container {
    display: flex;
}

.brother-tree-container .brother-tree-chart-container .brother-tree-node {
    /* font-family: "Inter", sans-serif; */
    background-color: white;
    border: 1px solid var(--brother-tree-border-color);
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.brother-tree-container .brother-tree-chart-container .brother-tree-node .brother-image {
    position: absolute;
    margin-top: -25px;
    margin-left: 15px;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    background-color: white;
    padding: 5px;
}

.brother-tree-container .brother-tree-chart-container .brother-tree-node .brother-name {
    font-size: 15px;
    color: #08011e;
    margin-left: 20px;
    margin-top: 32px;
}

.brother-tree-container .brother-tree-chart-container .brother-tree-node .brother-info {
    color: #716e7b;
    margin-left: 20px;
    margin-top: 3px;
    font-size: 10px;
}
